/* line 1, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
form {
  display: flex;
  justify-content: center;
}

/* line 5, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.new_session form {
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

/* line 10, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.signup {
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 20, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.signup h2 {
  color: #3C566B;
}

/* line 23, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.signup .new_user {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

/* line 29, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.forminput {
  display: flex;
}

/* line 32, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.signboard .new_user {
  display: flex;
  align-items: center;
}

/* line 36, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.field {
  margin: 20px;
  display: flex;
}

/* line 41, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 47, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.field input::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 51, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.field input {
  width: 220px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1E88E5;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1E88E5 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1E88E5 4%);
  background-position: -220px 0;
  background-size: 220px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}

/* line 66, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.field input:focus, .field input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

/* line 71, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.field input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #1E88E5;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}

/* line 78, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.entrar {
  background-color: #7CB342;
  color: white;
}

/* line 82, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.entrar:hover {
  background-color: #89B160;
}

/* line 85, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.identificacion input {
  width: 145px;
}

/* line 88, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
select {
  margin-right: 5px;
  border-color: #1E88E5;
  color: #0e6252;
  outline: none;
  cursor: pointer;
  width: 70px;
  height: 37px;
}

/* line 97, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.ubicacion {
  justify-content: center;
}

/* line 100, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.ubicacion select {
  width: 50%;
  border-color: #B5B5B5;
  color: #B5B5B5;
  background-color: #EEE;
}

/* line 106, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.signup .actions input {
  background-color: #1E88E5;
  color: white;
  font-size: 17px;
}

/* line 111, /home/rails/elproveedor/app/assets/stylesheets/form.scss */
.signup .actions input:hover {
  background-color: #429AE6;
}
/* line 1, /home/rails/elproveedor/app/assets/stylesheets/navigation.scss */
.navigation li {
  list-style: none;
  margin: 0px 10px;
  display: flex;
  align-items: center;
}

/* line 7, /home/rails/elproveedor/app/assets/stylesheets/navigation.scss */
.navigation ul {
  display: flex;
}

/* line 10, /home/rails/elproveedor/app/assets/stylesheets/navigation.scss */
.navigation a {
  display: flex;
  align-items: center;
}

/* line 14, /home/rails/elproveedor/app/assets/stylesheets/navigation.scss */
.navigation a span {
  margin: 0px 5px;
}

/* line 17, /home/rails/elproveedor/app/assets/stylesheets/navigation.scss */
.ingresar {
  border: 1px solid white;
  display: flex;
}

/* line 21, /home/rails/elproveedor/app/assets/stylesheets/navigation.scss */
.ingresar a {
  padding: 3px 8px 5px 8px;
  text-align: center;
}

/* line 25, /home/rails/elproveedor/app/assets/stylesheets/navigation.scss */
.triangulo_izq {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #0f3d5a;
  border-bottom: 5px solid transparent;
}

/* line 32, /home/rails/elproveedor/app/assets/stylesheets/navigation.scss */
.count {
  background: #0f3d5a;
  min-width: 17px;
  text-align: center;
  line-height: 1.5;
  border-radius: 1.5px;
}
/* line 4, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.orders {
  width: 100%;
  min-height: 100vh;
  background-color: #ff6658;
  display: flex;
  justify-content: center;
  padding: 5% 0px;
}

/* line 12, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.order {
  background-color: white;
  box-shadow: 5px 5px 0px #d85043;
  padding: 50px;
  color: #3C566B;
}

/* line 18, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.order li {
  list-style: none;
}

/* line 21, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
table {
  border-collapse: collapse;
}

/* line 24, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.td-head {
  text-align: center;
}

/* line 27, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.td-head td {
  border: 1px solid #3C566B !important;
  padding: 2px 5px;
}

/* line 31, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.order-list-product td {
  height: 30px;
  text-align: center;
}

/* line 35, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.order-list-product td:first-child {
  text-align: left;
}

/* line 39, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.facturas {
  width: 100%;
  min-height: 100vh;
  background-color: #EEE;
  display: flex;
  flex-direction: column;
}

/* line 46, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.card {
  width: 250px;
  height: 100px;
  background: white;
  margin: 10px;
}

/* line 52, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.visto {
  color: green;
  border: 1px solid green;
}

/* line 56, /home/rails/elproveedor/app/assets/stylesheets/order.scss */
.ok {
  background-color: #3bb53b;
  color: white;
}
/* line 1, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.principal {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3C566B;
}

/* line 10, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.indexheader {
  width: 100%;
  height: 9vh;
  position: fixed;
  background-color: rgba(28, 106, 156, 0.47);
  box-sizing: border-box;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 21, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.headerall {
  position: initial !important;
  background-color: #1c6a9c;
}

/* line 26, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.signboard {
  width: 100%;
  height: 120px;
  position: absolute;
  top: 9vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 36, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.signboard div {
  display: flex;
}

/* line 39, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.reguistro {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 45, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.reguistrate {
  background-color: #ff4842;
  color: white;
}

/* line 49, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.reguistrate:hover {
  background-color: #FF6A65;
}

/* line 52, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.indexsection {
  width: 100%;
  height: 100vh;
  background-image: url("http://www.thiskoleobasa.com/wp-content/uploads/2015/12/radiusbank.com_.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #736347;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 65, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.indexheader, .indexsection {
  color: white;
}

/* line 68, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.indexsection h1 {
  font-size: 100px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.33);
}

/* line 72, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.indexsection h4 {
  text-align: center;
}

/* line 75, /home/rails/elproveedor/app/assets/stylesheets/pages.scss */
.indexsection a {
  background-color: #f1c40f;
  border-color: #f39c12;
  margin-top: 15px;
  font-size: 25px;
}
@charset "UTF-8";
/* line 1, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.section-products {
  height: 79vh;
  min-height: 100%;
  color: #3C566B;
}

/* line 6, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.busqueda {
  width: 100%;
  height: 80px;
  background-color: #EEE;
  display: flex;
  transition: all .5s;
}

/* line 13, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.active-busqueda {
  background-color: #1c6a9c;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* line 19, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.busqueda .search, .busqueda .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 24, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.busqueda .search {
  width: 100%;
}

/* line 27, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.form-buscar {
  width: 100%;
}

/* line 30, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.text-buscar {
  width: 40%;
  height: 30px;
  webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  border-style: none;
  height: 25px;
  padding: 5px;
  -moz-box-shadow: inset 0px 1px 4px 0 #ccc;
  -webkit-box-shadow: inset 0px 1px 4px 0 #ccc;
  box-shadow: inset 0px 1px 4px 0 #ccc;
  outline: none;
}

/* line 44, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.btn-buscar-producto {
  background-color: #f1c40f;
  color: white;
  border-style: none;
  outline: none;
  cursor: pointer;
  margin-left: -5px;
  height: 35px;
  padding: 1px 6px;
  webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}

/* line 57, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.nav-lateral {
  display: none;
}

/* line 60, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.busqueda .menu {
  width: 250px;
}

/* line 63, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
button#filtro {
  border-style: none;
  background-color: #1c6a9c;
  cursor: pointer;
  outline: none;
  border-radius: 1px;
}

/* line 70, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.menu span {
  font-size: 30px;
  color: white;
}

/* line 74, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.products {
  width: 100%;
  height: 100%;
  display: flex;
}

/* line 79, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.comprar {
  border-color: #e81b22 !important;
}

/* line 82, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.comprar .pedir {
  display: none;
}

/* line 85, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.comprar .comprado {
  width: 100%;
  height: 26%;
  display: flex !important;
  background-color: #e81b22;
  color: white;
  justify-content: center;
  align-items: center;
}

/* line 94, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.filtros {
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  background-color: #E8E8E8;
  position: fixed;
  left: 0px;
  transition: all .5s;
}

/* line 103, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.active-filtro {
  position: fixed !important;
  left: -250px;
}

/* line 107, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.filtros h3 {
  margin: 25px 0px 5px 0px;
}

/* line 110, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.filtros form {
  flex-direction: column;
  align-items: center;
}

/* line 114, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.products:hover body {
  background-color: red;
}

/* line 117, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.nuevo-producto {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3C566B;
}

/* line 126, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.new_product {
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

/* line 131, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.new_product .field {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 12px;
}

/* line 137, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.new_product select {
  width: 100%;
  margin: 0px 12px;
}

/* line 141, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.new_product .btn {
  background-color: #ff4842;
  color: white;
}

/* line 145, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.productos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
}

/* line 153, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.nuevo-producto {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 158, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.add-producto form {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

/* line 163, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.add-producto .field {
  margin: 5px !important;
}

/* line 166, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.add-producto .field input {
  padding: 5px 0px !important;
}

/* line 169, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.add-producto .btn {
  height: 25px !important;
  padding: 0px 25px !important;
  background-color: #1E88E5;
  color: white;
}

/* line 175, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.product {
  width: 320px;
  height: 180px;
  background-color: #EEE;
  margin: 5px;
  display: flex;
  border: 1px solid #EEE;
}

/* line 183, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.foto-producto {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 191, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.foto-producto img {
  max-width: 160px;
  max-height: 180px;
}

/* line 195, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.action-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 200, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.inf-producto {
  padding: 5px;
  width: 160px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 208, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.pedir {
  width: 160px;
  height: 40px;
}

/* line 212, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.modificar {
  height: 40px;
  display: flex;
}

/* line 216, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.modificar a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 50%;
  background-color: #E53935;
}

/* line 225, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.modificar a:first-child {
  background-color: #1E88E5;
}

/* line 228, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.form-pedido {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #2ecc71;
}

/* line 234, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.cantidad-producto {
  width: 50%;
  height: 100%;
  border-style: none;
  text-align: center;
  outline: none;
}

/* line 241, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.btn-pedido {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  color: white;
}

/* line 249, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.btn-pedido:hover {
  background-color: #27ae60;
}

/* line 252, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.edit_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 258, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.edit_product .field {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* line 263, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.edit_product select {
  width: 85%;
}

/* Diseño del filtro */
/* line 269, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.filtros label {
  display: block;
  height: 37px;
}

/* line 273, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.radio {
  display: inline-block;
  padding-right: 20px;
  font-size: 18px;
  cursor: pointer;
}

/* line 280, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
}

/* line 287, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

/* line 293, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* line 300, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.radio input:checked + .outer {
  border: 3px solid #FFA000;
}

/* line 302, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #FFA000;
}

/* line 310, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.radio .outer {
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin: 3px 3px 0px 0px;
  border: 3px solid #0c70b4;
  border-radius: 50%;
}

/* line 320, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 2px;
  border-radius: 50%;
  background-color: #f08b3b;
  opacity: 0;
}

/* line 334, /home/rails/elproveedor/app/assets/stylesheets/products.scss */
.btn-filtrar {
  margin-top: 10px;
  background-color: #f08b3b;
  color: #fff;
  font-weight: bold;
  width: 90%;
}
@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?8hn0ee');
    src:    url('icomoon.eot?8hn0ee#iefix') format('embedded-opentype'),
        url('icomoon.ttf?8hn0ee') format('truetype'),
        url('icomoon.woff?8hn0ee') format('woff'),
        url('icomoon.svg?8hn0ee#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-archive:before {
    content: "\e973";
}
.icon-eliminar:before {
    content: "\e905";
}
.icon-circle-plus:before {
    content: "\e902";
}
.icon-menu:before {
    content: "\e901";
}
.icon-shop:before {
    content: "\e90d";
}
.icon-shopping-cart:before {
    content: "\e904";
}
.icon-tools:before {
    content: "\e903";
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

*{
	padding: 0px;
	margin: 0px;
	font-family: 'Lato', sans-serif;
}
.flash{
	width: 400px;
	height: 150px;
	left: 50%;
    margin-left: -200px;
    margin-top: 20px;
    z-index: 2; 
	position: absolute;
	text-align: center;
}
.f-notice{
	background-color: #517FE0;
	color: #295079;
}
.f-alert{
	background-color: #DA4040;
	color: #902A1F;
}
.flash label{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
	padding: 5px 10px;
	font-weight: bold;
}
.flash span{
	cursor: pointer;
}
.flash p{
	margin-top: -24px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
a{
	text-decoration: none;
	color: currentColor;
}
em{
	color: #777;
	text-align: center;
}
.btn{
	border-style: none;
	padding: 5px 25px;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.btn:hover{
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/* De este punto para abajo estaran todas las Media Querie para el responsive design */

@media screen and (max-width: 350px){

}

@media screen and (max-width: 480px){
	.none{
		display: none;
	}
}

@media screen and (max-width: 600px){
	.indexheader, .indexsection{
		display: none;
	}
	.nav-lateral{
		display: flex;
	}
	.signboard{
		top: 0vh !important;
		height: 100vh !important;
		flex-direction: column-reverse;
		justify-content: center;
		display: flex !important;
	}
	.signboard div{
		margin: 10px 0px;
	}
	.signboard .figure{
		display: flex !important;
	}
	.signboard .new_user{
		flex-direction: column;
		margin-bottom: 30px;
	}
	.signup .forminput{
		flex-direction: column;
	}
	.busqueda, .filtros{
		position: fixed;
	}
	.productos{
		margin-top: 80px;
	}
	.filtros{
		margin-top: 80px;
	}
	.blank{
		display: none;
	}
	.busqueda .menu{
		width: 20%;
	}
	.text-buscar {
    	width: 65%;
	}
}

@media screen and (max-width: 750px){
	.indexheader{
		height: 10vh;
	}
	.signboard{
		top: 10vh;
		height: 150px;
	}
	.signboard .new_user{
		flex-direction: column;
	}
	.signboard .new_user .field{
		margin: 8px;
	}
	.indexsection h1{
		font-size: 70px;
	}
}

@media screen and (max-width: 850px, min-width: 600px){

	.signboard .field input{
		width: 170px;
	}
	.signboard em{
		display: none;
	}

}
