// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orders{
	width: 100%;
	min-height: 100vh;
	background-color: #ff6658;
	display: flex;
	justify-content: center;
	padding: 5% 0px;
}
.order{
	background-color: white;
	box-shadow: 5px 5px 0px #d85043;
	padding: 50px;
	color: #3C566B;
}
.order li{
	list-style: none;
}
table{
	border-collapse: collapse;
}
.td-head{
	text-align: center;
}
.td-head td{
	border: 1px solid #3C566B !important;
	padding: 2px 5px;
}
.order-list-product td{
	height: 30px;
	text-align: center;
}
.order-list-product td:first-child{
	text-align: left;
}

.facturas{
	width: 100%;
	min-height: 100vh;
	background-color: #EEE;
	display: flex;
	flex-direction: column;
}
.card{
	width: 250px;
	height: 100px;
	background: white;
	margin: 10px;
}
.visto{
	color: green;
	border: 1px solid green;
}
.ok{
	background-color: #3bb53b;
	color: white;
}